APP_NAME=tripteki
APP_PORT=8000
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
NODE_ENV=production

MEMORY_REDIS_HOST=localhost
MEMORY_REDIS_PORT=6379
MEMORY_REDIS_USERNAME=user
MEMORY_REDIS_PASSWORD=password
MEMORY_REDIS_DATABASE=0

DATABASE_MONGO_URI=mongodb://user:password@localhost:27017/base
DATABASE_POSTGRE_URI=postgresql://user:password@localhost:5432/base

MAIL_URI=smtp://user:password@smtp.domain.com:587
