APP_HOST=localhost
APP_PORT=3000

TZ=Asia/Jakarta
NODE_ENV=production
LOG_LEVEL=debug
APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

REDIS_URI=redis://:password@localhost:6379/0
MONGO_URI=mongodb://user:password@localhost:27017/base
POSTGRE_URI=postgresql://user:password@localhost:5432/base
MARIA_URI=mysql://user:password@localhost:3306/base

MIGRATOR=postgre

MAIL_URI=smtp://user:password@localhost:25
