APP_NAME=tripteki
APP_PORT=8000
APP_URL=http://localhost:8000
APP_LOCALE=id
NODE_ENV=production
DB_DEBUG=1
LOG_LEVEL=debug

DEFAULT_CACHE=redis
DEFAULT_DATABASE=pg
DEFAULT_QUEUE=db
DEFAULT_STORAGE=local
DEFAULT_MAILER=smtp



DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=base
DB_FILENAME=database.db
DB_USER=user
DB_PASSWORD=password

REDIS_HOST=127.0.0.0
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=password

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_ADMIN_ADDRESS=admin@mail.com
