<header>
    <h2>{{ start_greeting }}</h2>
</header>

<main>
<p>{{ line }}</p>
<p>{{ thank_you }}</p>
</main>

<footer>
    <hr />
    <h2 style="text-transform: capitalize;">{{ close_greeting }}</h2>
</footer>
